:root {
  --primarycolor: #e4c59e;
  --secondarycolor: #af8260;
  scroll-behavior: smooth;
}
.Trips {
  background-color: var(--secondarycolor);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Trips .header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../../assets/trip2.jpg);
  background-size: cover;
  margin-bottom: 10px;
  width: 80%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.Trips .header h1{
  color: var(--secondarycolor);
  font-size: 80px;
  text-align: center;
  font-style: italic;
  padding: 4rem 0;
}
.Trips .TripsWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 40px;
  align-items: center;
}
.Trips .TripsWrapper .Tripscard {
  background-color: var(--primarycolor);
  width: 80%;
  padding: 1rem;
  overflow: hidden;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.Trips .TripsWrapper .Tripscard h1 {
  text-align: center;
  margin-bottom: 10px;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper {
  display: flex;
  column-gap: 1rem;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP1 {
  width: 35%;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP1 img {
  width: 100%;
  border-radius: 10px;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP2 {
  font-size: 14px;
  line-height: 1.5rem;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP2 p {
  text-align: center;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP2 .TripscardP2Btm {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
.Trips
  .TripsWrapper
  .Tripscard
  .TripscardWrapper
  .TripscardP2
  .TripscardP2Btm
  h3,
.Trips
  .TripsWrapper
  .Tripscard
  .TripscardWrapper
  .TripscardP2
  .TripscardP2Btm
  p {
  text-align: center;
}
.Trips
  .TripsWrapper
  .Tripscard
  .TripscardWrapper
  .TripscardP2
  .TripscardP2Btm
  .TripscardP2BtmBook
  .book {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--secondarycolor);
  color: black;
  border-radius: 10px;
}
.Trips
  .TripsWrapper
  .Tripscard
  .TripscardWrapper
  .TripscardP2
  .TripscardP2Btm
  .TripscardP2BtmBook
  .book:hover {
  background-color: burlywood;
  border: var(--secondarycolor) solid 0.8px;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP3 {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP3 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP3 h2 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.TripscardBook{
  display: flex;
  justify-content: center;
}
.TripscardBook .book{
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--secondarycolor);
  color: black;
  border-radius: 10px;
}
.TripscardBook .book:hover{
  background-color: rgb(240, 171, 82);
}

@media screen and (max-width: 66.25em) {
  .Trips .header{
    width: 100%;
  }
  .Trips .TripsWrapper .Tripscard {
    background-color: var(--primarycolor);
    width: 100%;
  }
}
@media screen and (max-width: 55.625em) {
  .Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP3 img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 34.375em) {
  .Trips {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 26.875em) {
  .Trips .header h1{
    font-size: 35px;
  }
  .Trips .TripsWrapper .Tripscard .TripscardWrapper {
    flex-wrap: wrap;
  }
  .Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP1 {
    width: 30%;
  }
  .Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP1 img {
    height: 60%;
    width: 100%;
  }
  .Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP2 {
    width: 60%;
  }
  .Trips .TripsWrapper .Tripscard .TripscardWrapper .TripscardP3 {
    width: 100%;
  }

}