:root {
  --primarycolor: #e4c59e;
  --secondarycolor: #af8260;
  scroll-behavior: smooth;
}
.Contact{
  background-color: var(--secondarycolor);
  padding: 2rem;
  margin: 0 auto;
}
.Contact .Hedaer{
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(../../assets/contact11.jpg);
background-size: cover;
margin-bottom: 10px;
width: 100%;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
object-fit: cover;
}
.Contact .Hedaer h1{
  text-align: center;
  padding: 4rem 0;
  padding-bottom: 6rem;
  visibility: hidden;
}
.Contact .ContactWrapper{
  display: flex;
  column-gap: 2rem;
}
.Contact .ContactWrapper .Contactleft{
  width: 30%;
  margin-bottom: 20px;
}
.Contact .ContactWrapper .Contactleft .leftHead h1,
.Contact .ContactWrapper .Contactleft .leftHead p{
  margin-bottom: 10px;
}
hr{
  height: 5px;
  background-color: black;
  margin-bottom: 10px;
}
.Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo{
  margin-bottom: 20px;
}
.Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo h2{
  margin-bottom: 10px;
}
.Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo .contactinfosvgDial{
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo .contactinfosvgDial div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primarycolor);
  color: black;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo .contactinfosvgDial div:hover{
  background-color: beige;
}

.Contact .ContactWrapper .contactRight{
  width: 70%;
  margin-bottom: 20px;
}
.Contact .ContactWrapper .contactRight h1,
.Contact .ContactWrapper .contactRight p{
  text-align: center;
  margin-bottom: 10px;
}
.Contact .ContactWrapper .contactRight p{}
.Contact .ContactWrapper .contactRight form{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}
.Contact .ContactWrapper .contactRight form input{
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.Contact .ContactWrapper .contactRight form textarea{
  width: 30%;
  height: 100px;
}
.Contact .ContactWrapper .contactRight form .submit{
  background-color: var(--primarycolor);
  cursor: pointer;
}
.Contact .ContactWrapper .contactRight form .submit:hover{
  background-color: beige;
}
.map{
  width: 100%;
}

@media screen and (max-width: 59.375em) {
  .Contact .ContactWrapper .Contactleft{
    width: 50%;
  }
  .Contact .ContactWrapper .contactRight{
    width: 50%;
  }
  .Contact .ContactWrapper .contactRight form textarea,
  .Contact .ContactWrapper .contactRight form input{
    width: 80%;
  }
}
@media screen and (max-width: 59.375em) {
  .Contact .ContactWrapper{
    flex-direction: column;
    align-items: center;
  }
  .Contact .ContactWrapper .Contactleft{
    width: 80%;
  }
  .Contact .ContactWrapper .contactRight{
    width: 80%;
  }
}
@media screen and (max-width: 29.875em) {
  .Contact .ContactWrapper .contactRight form textarea,
  .Contact .ContactWrapper .contactRight form input{
    width: 90%;
  }
  .Contact .ContactWrapper .Contactleft .contactinfoWrapper .contactinfo .contactinfosvgDial div{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}