:root {
  --primarycolor: #3572ef;
  --secondarycolor: #050c9c;
  scroll-behavior: smooth;
}
.Headertop {
  display: flex;
  justify-content: space-between;
  border: var(--primarycolor) solid 2px;
  padding: 0.8rem;
  border-radius: 10px;
  align-items: center;
}

.Headertop .HeadertopLeft {
  width: 45%;
}
.Headertop .HeadertopLeft ul {
  display: flex;
  justify-content: space-between;
}
.Headertop .HeadertopLeft ul li {
  display: flex;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--primarycolor);
}
.Headertop .HeadertopLeft ul li:hover {
  color: var(--secondarycolor);
}

.Headertop .HeadertopRight {
  width: 45%;
}
.Headertop .HeadertopRight ul {
  display: flex;
  justify-content: flex-end;
}

.Headertop .HeadertopRight li {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #050c9c;
  color: white;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
  margin-left: 10px;
}
.Headertop .HeadertopRight li:hover {
  background-color: #3572ef;
}
@media screen and (max-width: 37.5em) {
  .Headertop {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .Headertop .HeadertopLeft {
    width: 100%;
  }
  .Headertop .HeadertopLeft ul {
    margin-bottom: 15px;
  }
  .Headertop .HeadertopRight {
    width: 45%;
  }
  .Headertop .HeadertopRight ul {
    justify-content: space-between;
  }
  .Headertop .HeadertopRight li {
    font-size: 12px;
    margin-left: 0px;
  }
}

.Headerbottom {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border: #3572ef solid 2px;
  align-items: center;
  border-radius: 10px;
  margin-top: 0.2rem;
}
.Headerbottom .Headerbottomleft {
  width: 45%;
}
.Headerbottom .Headerbottomleft img {
  width: 60px;
}
.Headerbottom .HeaderbottomRight {
  width: 45%;
}
.Headerbottom .HeaderbottomRight ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Headerbottom .HeaderbottomRight ul li {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #3572ef;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}
.Headerbottom .HeaderbottomRight ul li .HeaderLink {
  color: white;
  text-decoration: none;
}
.Headerbottom .HeaderbottomRight ul li:hover {
  background-color: #050c9c;
}

@media screen and (max-width: 63.75em) {
  .Headerbottom .Headerbottomleft {
    width: 20%;
  }
  .Headerbottom .HeaderbottomRight {
    width: 75%;
  }
}

@media screen and (max-width: 37.5em) {
  .Headerbottom {
    flex-direction: column;
  }
  .Headerbottom .Headerbottomleft {
    width: 45%;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
  }
  .Headerbottom .HeaderbottomRight {
    width: 100%;
  }
}
@media screen and (max-width: 26.875em) {
  .Headerbottom .HeaderbottomRight ul li {
    padding: 10px 20px;
  }
}
